/*Variables*/
$blue: lightblue;
$green: #66fd02;
$black: #333;
$radius: 10px;

/*Mixins*/
@define-mixin square $dimension {
    width: $dimension;
    height: $dimension;
}

@define-mixin ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

body {
    background: $green;
    color: $black;
}

p {
    @mixin ellipsis;
}

:fullscreen a {
    display: flex
}

button {
    color: $green;
    @mixin square 200px;
}
