/*Variables*/
$blue: lightblue;
$green: #66fd02;
$black: #333;
$radius: 10px;

/*Mixins*/
@mixin square($dimension) {
    width: $dimension;
    height: $dimension;
}

@mixin ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

body {
    background: $blue;
    color: $black;
}

p {
    @include ellipsis;
}

:fullscreen a {
    display: flex
}

button {
    color: $green;
    @include square(200px);
}
