//Variables
$blue: #00f999;
$green: #66fd02;
$black: #333;
$radius: 10px;

$bg-color: $blue;

//Mixins
@mixin square($dimension) {
    height: $dimension;
    width: $dimension;
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body {
    background: $bg-color;
    color: $black;
}

:fullscreen {
    a {
        display: flex;
    }
}

p {
    @include ellipsis;
}

button {
    @include square(200px);
    color: $green;
}
